@charset "UTF-8";

/*Typical device breakpoint 2023
/* Extra small devices (phones, 600px and down)
Small devices (portrait tablets and large phones, 600px and up):max-widht:768px
Medium devices (landscape tablets, 768px and up):max-width: 992px
Large devices (laptops/desktops, 992px and up):max-width:1200
Extra large devices (large laptops and desktops, 1200px and up)
*/

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }
    #login{
        width: 90vw;
        height: 280px;
    }
    #login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #login > #form{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }
    #login{
        width: 950px;
        height: 350px;
    }
    #login > #imagem{
       float: right;
       width: 50%;
       height: 100%; 
    }
    #login > #form{
        float: left;
        width: 50%;
    }
    #form > h1{
        font-size: 2em;
    }
    #form > p{
        font-size: 1em;
        margin: 10px 0px;
    }
}